/*
  CSS - Editor
*/
body {
  background-color: #202020;
  overflow: hidden;
}
.container {
     margin: 0 auto;
    padding: 0; 
  max-width: 100%;
}

.editor .CodeMirror,
.preview-pane {
  width: 50%;
  height: 100%;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  overflow-y: scroll;
  position: absolute;
  top:0px;
}

.editor .CodeMirror {
  font-family: "ff-tisa-web-pro",serif;
  font-size: 14px;

  left:0px;
  
}

.editor .preview-pane {
  background-color: #fff;

  right:0px;
}


/* Editor Theme overrides */
.editor .cm-s-ambiance .cm-header {
  color: green;
}

.cm-s-ambiance.CodeMirror {
  background-color: transparent;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}