body {
  background-color: #fff;
  line-height: 1.25em;
  font-family: adelle-sans, serif;
  font-size:115%;
  color:#222f;
} 

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5em;
  font-family: adelle, serif;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a,
a:hover,
a:active,
a:visited {
  color: #F02311;
  text-decoration: none;
}

