:javascript
  function editorElement() {
    return document.getElementById('code');
  }

  var editor = CodeMirror.fromTextArea(editorElement(), {
    mode: 'markdown',
    lineNumbers: false,
    lineWrapping: true,
    tabSize: 2,
    theme: 'ambiance',
    extraKeys: { "Enter": "newlineAndIndentContinueMarkdownList" }
  });
  
  editor.on('update', function(){
    updatePreview( editor.getValue() );
  });

  marked.setOptions({
    gfm: true,
    tables: true,
    breaks: true,
    pedantic: false,
    sanitize: false,
    smartLists: true,
  });

:javascript
  var $editor  = null;
  var $preview = null;
  var padding  = 0;

  $(window).resize(windowResized);

  function windowResized(){
    var height  = $(window).height() - padding;
    updatePaneHeights(height);
  }

  function updatePaneHeights(height) {
    $preview.height(height);
    $editor.height(height);
  }

  function updatePreview(code){
    $preview.html( marked(code) );
  }

  $(document).ready(function(){
    $editor  = $(".editor-pane");
    $preview = $(".preview-pane");
    padding  = $preview.css('padding').match(/\d+/)[0];

    updatePreview( editor.getValue() );
    windowResized();
  });